.activityTypes {
  position: absolute;
  top: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  box-shadow: var(--pages_Box);
  cursor: pointer;
  width: 150px;
}

.ActivityAndNetwork {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activityTypes .addAddress {
  padding: 5px 10px;
}

.activityIndvType {
  padding: 7px;
}
